<suite name="Package Suite" verbose="1">
	<test name="Package Test">
		<classes>
			<class name="firstPackage.firstClass">
				<methods>
					<include name="firstMethod"/>
				</methods>
			</class>
			<class name="firstPackage.secondClass">
				<methods>
					<include name="firstMethod"/>
				</methods>
			</class>
			<class name="secondPackage.firstClass">
				<methods>
					<include name="firstMethod"/>
				</methods>
			</class>
			<class name="secondPackage.secondClass">
				<methods>
					<include name="firstMethod"/>
				</methods>
			</class>
		</classes>
	</test>
</suite>